@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";
@theme {
    --color-primary:#5f6fff;
    
}

@layer components {
    .grid-auto-fill {
      grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    }
  }

*{
    font-family: Outfit;
}

.active hr{
    @apply block
}
::-webkit-scrollbar{
    @apply hidden
}

@media (max-width:740px) {
    .active p{
        @apply text-white bg-primary
    }
}